/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Variables */
:root {
    --ff: Arial, Helvetica, sans-serif; /* The font family we decide to use */
}

.dark {
    --bg-primary: #000;
    --bg-danger: #fe3333;
    --clr-primary: #fff;
    --clr-secondary:#fff;
    --clr-accent: #f5f5f5;
    --clr-danger: #ff0000;
    --gradient: linear-gradient(rgba(0, 0, 0, 0.95), rgba(123, 123, 123, 0.7));
}

.light {
    --bg-primary: #fff;
    --bg-danger: #fe3333;
    --clr-primary: #000;
    --clr-secondary:#808080;
    --clr-accent: rgb(21, 21, 98);
    --clr-danger: #ff0000;
    --gradient: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.95));
}

body {
    font-family: var(--ff);
    background-color: var(--bg-primary);
    color: var(--clr-primary);
    transition: background-color 1s ease, color 1s ease;
}

h1 {
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: var(--clr-accent);
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
}

.jumbotron {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    /* border-bottom: 1px solid gray; */
    box-shadow: 1px 0px 5px var(--clr-secondary);
    margin-bottom: 2rem;
    background-size: cover;
    background-position: 50%;
    background-image: var(--gradient), url("../images/bg-header1.jpg");
}

.app-container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto;
    column-gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.search { 
    grid-row: span 3;
}

.search-fields {
    padding: 0.4rem 0.7rem;
    border-radius: 100vmax;
    border: 1px solid rgba(0, 0, 0, 0.326);
    display: flex;
    column-gap: 0.5rem;
    background-color: rgba(243, 243, 243, 0.4);
}

.city-input {
    border: 0;
    outline: none;
    padding: 0.3rem 0.5rem;
    background: transparent;
}

#submit {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.326);
    color: white;
    border-radius: 50%;
    padding: 0.4rem;
    border: 0;
    outline: none;
    height: 2rem;
    width: 2rem;
    opacity: 0.7;
    transition: opacity 250ms linear;
}

#submit:hover {
    opacity: 1;
}

#search-history-list {
    list-style: none;
    padding: 0 0.5rem;
    margin-top: 0;
}

#search-history-list li {
    cursor: pointer;
    padding: 0.6rem 0.5rem;
    background-color: rgba(236, 246, 255, 0);
    transition: all 250ms ease;
    border-radius: 0.5rem;
}

#search-history-list li:hover {
    background-color: rgba(236, 246, 255, 1);
}

.city-description {
    grid-column: 2 / 3;
    margin-bottom: 2rem;
}

.navigation {
    grid-column: 2 / 3;
}

#nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(236, 246, 255);
    border: 1px solid rgba(0, 0, 0, 0.326);
    opacity: 0.6;
    transition: opacity 250ms linear;
    color: black;
}

#nav li:not(:last-child) { 
    border-right: 0;
}

#nav li.active, #nav li:hover {
    opacity: 1;
}

.crime-data {
    grid-column: 2 / 3;
    border: 1px solid rgba(0, 0, 0, 0.326);
    border-top: 0;
    background-color: white;
    display: grid;
    grid-template-areas: "a";
}

#graph-container, #table-container, #blank-container {
    grid-area: a;
    visibility: hidden;
}

.crime-data .active {
    visibility: visible !important;
}

#crime-graph {
    display: block;
    width: 500px;
    height: 500px;
    margin: 1rem auto;
}

#clear-history {
    cursor: pointer;
    display: block;
    margin: 0.7rem auto 0.5rem;
    background-color: transparent;
    border: 1px solid var(--bg-danger);
    color: var(--clr-danger);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: all 300ms ease;
}

#clear-history > svg {
    transform: translateY(2px);
}

#clear-history:hover { 
    background-color: var(--bg-danger);
    color: white;
}

.toggle {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: opacity 200ms linear;
}

.toggle:hover {
    opacity: 1;
}

.toggle label {
    font-size: 1.4rem;
    color: var(--clr-primary);
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle-btn {
    padding: 0.3rem;
    border: 1.5px solid var(--clr-primary);
    border-radius: 100vmax;
    outline: none;
    background-color: transparent;
    width: 3.5rem;
    height: 1.8rem;
    cursor: pointer;
}

.toggle-btn::after {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    background-color: var(--clr-primary);
    border-radius: 50%;
    margin-left: 1.75rem; /* Can't transition auto :( */
    transition: margin 150ms linear;
}

.toggle-on:checked ~ .toggle-btn::after {
    margin-left: 0;
}

#theme-toggle {
    position: fixed;
    scale: 0.7;
    top: 1%;
    right: 1%;
}


